<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Confirmed</title>
    <link rel="stylesheet" href="../confirmation.css">
</head>
<body>

    <header>
       
    </header>


    <main class="container">
        <div class="confirmation-message">
            <h2>Booking has been successfully created!</h2>
            <button onclick="window.location.href='/bookings'">View All Bookings</button>
        </div>
    </main>

    <%- include('partials/footer') %>

</body>
</html>
